#CI/CD pipeline for SCA scanning with Gitleaks

name: SCA scanning with Gitleaks

on:
    pull_request:
        branches: [ main ]
    push:
        branches: [ main ]

permissions:
    contents: read
    pull-requests: write

jobs:
    gitleaks:
        name: SCA Scanning-Gitleaks
        runs-on: ubuntu-latest
        steps:
            - name: Checkout (full history)
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Run Gitleaks
              uses: gitleaks/gitleaks-action@v2
              env:
                GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

pip_audit:
    name: SCA scanning pip-audit for python
    runs-on: ubuntu-latest
    needs: gitleaks
    steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v5
            with:
               python-version: '3.11'
        - uses: pypa/gh-action-pip-audit@v1
            with:
               inputs: requirements.txt
